body {
  font-family: 'Didact', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  overflow-x: hidden;
  background-color: #FFF3C3;
}

@font-face {
  font-family: 'SANTELLO';
  src: local("SANTELLO"), url("./Fonts/SANTELLO.ttf"), url("./Fonts/SANTELLO.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Vasilec';
  src: local("Vasilec"), url("./Fonts/Vasek Italic_0.ttf"), url("./Fonts/Vasek Italic_0.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Didact';
  src: local("Didact"), url("./Fonts/new/Didact_Gothic/DidactGothic.ttf"), url("./Fonts/new/Didact_Gothic/DidactGothic.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
.container {
  margin: 0 auto;
  height: 1230px;
}

header {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
header h1 {
  font-size: 70px;
  font-family: 'SANTELLO', sans-serif;
  color: #231E8D;
}
header h1 span {
  font-size: 40px;
  text-align: start;
  font-weight: 10px;
  color: #4F6EBB;
}
header h2 {
  font-family: 'Vasilec', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin: 15px;
}

h5 {
  font-family: 'Didact', sans-serif;
}

.button-info {
  width: 176px;
  height: 55px;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  border: none;
  background: white;
  color: #3B3B3B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Didact';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.ilustration {
  position: absolute;
  display: flex;
  width: 20%;
  height: 75%;
  z-index: -1;
  top: -48px;
  left: 558px;
  background-image: url(./img/ilustration-transformed.png);
}

.video_o_nas {
  display: flex;
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.opisanie {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 25px;
}

.project_info {
  display: flex;
  max-width: 1430px;
  background-color: white;
  padding: 25px 50px 25px 70px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: 'Didact', sans-serif;
}

.project_info_img {
  display: block;
  height: 45%;
  width: 45%;
  margin-top: 3%;
}

.project_info_blok {
  font-family: 'Didact', sans-serif;
  font-size: 18px;
  padding: 0 0 0 40px;
}
.project_info_blok h2 {
  font-family: 'SANTELLO', sans-serif;
  font-size: 40px;
  color: #231E8D;
}
.project_info_blok h3 {
  color: #4F6EBB;
}
.project_info_blok hr {
  width: 50px;
  margin-top: 15px;
  height: 1px;
  color: black;
  background-color: #3B3B3B;
}
.project_info_blok li {
  font-size: 18px;
}

.choise_biografy h2 {
  font-family: 'SANTELLO', sans-serif;
  font-size: 40px;
}
