$color-body: #FFF3C3;
$blue-light: #4F6EBB;
$blue-bold: #231E8D;

body {
	font-family: 'Didact', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: black;
	overflow-x:hidden;
	background-color: $color-body;
}

@font-face {
	font-family: 'SANTELLO';
	src: local('SANTELLO'),
	url('./Fonts/SANTELLO.ttf'),
		url('./Fonts/SANTELLO.ttf');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
  }
  
@font-face {
	font-family: 'Vasilec';
	src: local('Vasilec'),
	url('./Fonts/Vasek\ Italic_0.ttf'),
		url('./Fonts/Vasek\ Italic_0.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Didact';
	src: local('Didact'),
	url('./Fonts/new/Didact_Gothic/DidactGothic.ttf'),
		url('./Fonts/new/Didact_Gothic/DidactGothic.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}


.container {

	margin: 0 auto;
	height: 1230px;
}

header {
	position: relative;
	margin: 0 auto;
	text-align: center;

	h1 {
		font-size: 70px;
		font-family: 'SANTELLO', sans-serif;
		color: $blue-bold;
		span {
			font-size: 40px;
			text-align: start;
			font-weight: 10px;
			color: $blue-light
			;
		} 		
	}
	
	h2 {
		font-family: 'Vasilec', sans-serif;
		font-size: 60px;
		font-weight: lighter;
		margin: 15px;
	
	}
}



h5 {
	font-family: 'Didact', sans-serif;
}
.button-info {
	cursor: pointer;
	width: 176px;
	height: 55px;
	
	align-items: center;
	text-align: center;
	border-radius: 40px;
	border: none;
	background: white;
	color: #3B3B3B;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-family: 'Didact';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}
// что о не то со шрифтом для кнопки!!! РАЗБЕРИСЬ!

.ilustration {
	position: absolute;
	display: flex;
	width: 20%;
	height: 75%;
	z-index: -1;
	top: -48px;
	left: 558px;
	background-image: url(./img/ilustration-transformed.png);
	background-repeat: no-repeat;

}


.video_o_nas {
	position: relative;
	display: flex;
	height: 500px;
	margin-top: 20px;
	display: flex;
	justify-content: center;

}

.opisanie {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	font-size: 20px;
	margin-bottom: 25px;
}

.project_info {
    display: flex;
    max-width: 1450px;
    background-color: white;
    padding: 2% 10% 2%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Didact', sans-serif;
}

.project_info_img {
	display: block;
	width: 45%;
	object-fit: cover;

}

.img {
	overflow: hidden;
	width: 70%;
	height: 100%;
	cursor: pointer;
}
// .img:hover {
// 		transform: scale(1.1);
// 		transition: .5s;
// 	}
.pop-up {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .8);
	display: none;
}

.pop-up img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #fff;
	border-radius: 5px;
}

.pop-up span {
	position: fixed;
	top: 10px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: #fff;
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	line-height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

.project_info_blok {
	font-family: 'Didact', sans-serif;
	font-size: 20px;
	padding: 0 0 0 40px;

	h2 {
		font-family: 'SANTELLO', sans-serif;
		font-size: 40px;
		color: $blue-bold;
		margin: 0;
	}
	h3 {
		color: $blue-light;
	}
	// hr {
	// 	width: 50px;
	// 	margin-top: 15px;
	// 	height: 1px;
	// 	color: black;
	// 	background-color: #3B3B3B;
	// }

	li {
		font-size: 18px;
	}
}

.biografy_book-1 {
	display: flex;
	max-width: 1450px;
	margin: 0 auto;
    padding: 2% 8% 2%;
	gap: 40px;
}
.biografy_book-2 {
	display: flex;
	max-width: 1450px;
	margin: 0 auto;
    padding: 2% 8% 2%;
	gap: 40px;
	flex-direction: row-reverse;
}

.choise_biografy {

	h2 {
		font-family: 'SANTELLO', sans-serif;
		color: $blue-bold;
		font-size: 40px;
		text-align: center;
	}

	span {
		display: block;
		text-align: center;
		margin-top: -25px;
		margin-bottom: 33px;
	}
}
.biografy_discription {

	h3 {
		font-family: 'SANTELLO', sans-serif;
		font-size: 30px;
		text-align: center;
		color: $blue-light;
		margin: 0 0 22px 0;
	}
		
	b {
		font-family: 'Didact',sans-serif;
		font-size: 25px;
		text-align: center;
	}

	.button-info {
		
		display: block;
		align-self: center;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	ul {
		font-size: 18px;
	}

	span {
		font-size: 20px;
	}
}

.biografy_video {
	align-self: center;
}

.button-info-book {
	margin: 0 auto;
	width: 176px;
	height: 55px;
	display: block;
	cursor: pointer;

	margin-top: 10px;
	
	border-radius: 40px;
	border: none;
	background: white;
	color: #3B3B3B;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	
	font-family: 'Didact';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}